<%= simple_form_for @video do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@video.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :preview %>
  <%= f.input :description %>
  <div class="field">
    <%= f.label :pornstar_id %><br>
    <%= f.collection_select :pornstar_ids, Pornstar.all, :id, :name %>
  </div>
  <div class="field">
  <%= f.label :category_id %><br>
  <%= f.collection_select :category_ids, Category.all, :id, :name %>
</div>
<br>
  <%= f.submit 'Save' %>
<% end %>